﻿*, *::before, *::after {
    box-sizing: border-box;
}



.c-sliders {
    margin-top: 17px;
}

.c-top_baner {
    height: 80px;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
}

.c-sliders_row {
    display: flex;
}

.c-top_baner_img {
    background: url(../Images/banner/topbanner.jpg) no-repeat;
    height: 100%;
    width: 100%;
    background-size: auto 100%;
    background-position: center;
    border-radius: 5px;
    background-color: #fbd007;
}

.c-sliders_right {
    /*   min-width: 17.5%;
    max-width: 17.5%;*/
    display: none;
}

.c-sliders_right_singleimg {
    height: 405.7px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}

    .c-sliders_right_singleimg img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

.c-sliders_left {
    width: 100%;
    min-width: 100%;
}

.c-main_slider {
    height: 239px;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    position: relative;
    margin-bottom: 15.5px;
}

.c-slider_slide {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.c-slide {
    height: 100%;
    width: 100%;      
}

    .c-slide.fadein {
        opacity: 1;
    }

.c-slider_donts {
    left: 50%;
    z-index: 3;
    height: 15px;
    position: absolute;
    display: inline-flex;
    bottom: 34px;
    transform: translateX(-50%);
    align-items: center;
}

.swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    background-color: #fff;
    margin: 0 6px;
    border-radius: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .3);
    opacity: .8;
    cursor: pointer;
}

    .swiper-pagination-bullet:hover {
        width: 11px;
        height: 11px;
        margin: 0 5.5px;
    }

    .swiper-pagination-bullet-active {
        background-color: #00bfd6;
    }

.c-slider_next, .c-slider_prev {
    position: absolute;
    z-index: 10;
    width: 61px;
    height: 100%;
    top: 0;
    bottom: 0;
    cursor: pointer;
    line-height: 26px;
}

.c-slider_next {
    left: 0;
}

.c-slider_prev {
    right: 0;
}

.c-slider_next::before {
    content: "\e011";
    left: 20px;
}

.c-slider_prev::before {
    content: "\e014";
    right: 20px;
}

.c-slider_prev:hover::before {
    right: 17px;
}

.c-slider_next:hover::before {
    left: 17px;
}

.c-slider_next::before, .c-slider_prev::before {
    font-family: DigiKala;
    color: #fff;
    position: absolute;
    font-size: 26px;
    top: 50%;
    text-shadow: 0 2px 4px #616161;
    transition: all .3s ease-in-out;
    transform: translateY(-50%);
}

.c-sliders_right-feature {
    background-color: #FFF;
    border-radius: 5px;
    padding-top: 5px;
}

.c-sliders_right-feature_items {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
}

    .c-sliders_right-feature_items a {
        flex-basis: 50%;
    }

        .c-sliders_right-feature_items a:first-of-type {
            flex-basis: 100%;
        }

.c-sliders_right-feature_items-1 {
    background: url(../Images/feature/express.svg) 43% 8px no-repeat;
    background-size: auto 50px;
}

.c-sliders_right-feature_items-2 {
    background: url(../Images/feature/support.svg) 50% 4px no-repeat;
    background-size: auto 58px;
}

.c-sliders_right-feature_items-3 {
    background: url(../Images/feature/pay.svg) 50% 0 no-repeat;
    background-size: auto 58px;
}

.c-sliders_right-feature_items-4 {
    background: url(../Images/feature/return.svg) 50% 5px no-repeat;
    background-size: auto 58px;
}

.c-sliders_right-feature_items-5 {
    background: url(../Images/feature/guarantee.svg) 50% 6px no-repeat;
    background-size: auto 58px;
}

.c-sliders_right-feature_items {
    background-size: auto 58px;
    font-size: 10px;
    color: #606060;
    padding-top: 75px;
    text-align: center;
    justify-content: center;
}
/*---------------discount-----------------------*/
.c-sliders_discount {
    min-width: 100%;
    max-width: 100%;
    display: flex;
}

.c-discount {
    background-color: #fff;
    border-radius: 5px;
    height: 410px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .07);
    overflow: hidden;
}

.c-discount_left {
    flex-basis: 77.5%;
    max-width: 77.5%;
    /* padding-right: 15px;*/
}

.c-discount_container {
    display: none;
    animation: fadein .4s;
    height: 353px;
    padding: 60px 20px 20px 30px;
}

    .c-discount_container.is-active {
        display: block;
    }

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.c-discount_product {
    width: 100%;
    position: relative;
}

.c-discount_content {
    display: flex;
    justify-content: space-between;
}

.c-discount_box {
    display: flex;
    flex-direction: column;
}

.c-discount_product-url {
    /*  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 14;
    opacity: 0;*/
}

.c-discount_image {
    display: flex;
    height: 344px;
    flex-basis: 43%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.c-discount_image-top-bar {
    height: 46px;
    position: absolute;
    left: 50%;
    top: -60px;
    z-index: 4;
    transform: translateX(-50%);
}

    .c-discount_image-top-bar::before {
        content: "";
        background: #ef5661 url(../Images/discount/topbar.png) no-repeat 50% 50%;
        width: 223px;
        height: 46px;
        display: block;
        border-radius: 0 0 24px 24px;
        background-size: auto 19px;
    }

.c-discount_image img {
    max-width: 100%;
    max-height: 100%;
}

    .c-discount_image img[alt]::after {
        background: #fff url(../Images/discount/digikala.png) no-repeat 50%;
        content: attr(alt);
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        text-align: center;
        color: transparent;
        background-size: contain;
    }

.c-discount_prop {
    flex-basis: 50%;
}

.c-discount_price {
    display: inline-flex;
}

.c-dicount_price-primary {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-discount_price.not-active {
    display: none;
}

.c-discount_price-original {
    color: #727272;
    position: relative;
    line-height: 23px;
}

    .c-discount_price-original::after {
        content: "";
        background-color: #727272;
        height: 2px;
        width: 100%;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-50%);
    }

    .c-discount_price-original > span {
        vertical-align: middle;
    }

.c-discount_price-now {
    color: #ef5661;
    font-size: 22px;
    font-weight: 700;
    margin-top: 7px;
    letter-spacing: 1.2px;
    line-height: 27px;
}

    .c-discount_price-now > span {
        letter-spacing: 0;
        font-size: 16px;
    }

.c-discount_price-discount {
    color: #fff;
    display: flex;
    justify-content: center;
    height: 50px;
    margin-right: 20px;
    font-size: 16px;
}

.c-discount_price-discount_content {
    background-color: #ef5661;
    border-radius: 20px;
    width: 115px;
    height: 38px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -45px;
}

.c-discount_price-finish {
    border: 2px solid rgba(145, 145, 145, .3);
    font-size: 20px;
    line-height: 22px;
    border-radius: 8px;
    max-width: 350px;
    box-shadow: 0 0 20px 0 rgba(145, 145, 145, .1);
    padding: 15px 10px;
    text-align: center;
    color: #919191;
    display: none;
}

    .c-discount_price-finish.is-active {
        display: block;
    }

.c-discount_title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.89;
    margin: 20px 0 10px;
}

.c-discount_ul {
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
}

    .c-discount_ul li {
        font-size: 13px;
        padding-right: 17px;
        margin: 5px 0;
        line-height: 24px;
        position: relative;
    }

        .c-discount_ul li::before {
            content: "";
            width: 7px;
            height: 7px;
            position: absolute;
            background-color: #bebebe;
            border-radius: 100%;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

.c-discount_counter {
    padding: 13px 0;
    border-top: 1px solid rgba(74, 74, 74, .16);
    display: block;
}

    .c-discount_counter.not-active {
        display: none;
    }

.c-counter {
    font-size: 34px;
    line-height: 1;
    width: 181px;
    font-weight: 700;
    direction: ltr;
    white-space: nowrap;
}

    .c-counter.not-active {
        display: none;
    }

    .c-counter span {
        display: inline-block;
        margin: 0 5px;
        width: 45px;
        text-align: center;
        color: #787878;
    }

.c-discount_counter-title {
    color: #787878;
    margin-top: 6px;
    font-weight: 700;
    line-height: 2.43;
}

.c-discount_counter-finish .c-discount_price-now {
    color: #575757;
}

.c-discount_counter-finish {
    display: none
}

    .c-discount_counter-finish.is-active {
        display: block;
    }
/*-------ایجاد لیست در شگفت انگیزدر قسمت چپ------------------------*/
.c-discount_aside {
    background-color: rgba(240, 246, 250, .9);
    position: relative;
}

.c-discount_aside-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .c-discount_aside-ul li {
        cursor: pointer;
    }

.c-discount_aside-a, .c-discount_aside-a::before {
    transition: all .3s ease-in-out;
}

.c-footer_feature {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
}

    .c-footer_feature a {
        width: 16.03%;
    }

.c-footer-feature_items {
    font-size: 13px;
    padding-top: 80px;
    padding-bottom: 20px;
    line-height: 1.692;
    text-align: center;
}


.c-top_swiper-right {
    flex-basis: 75%;
    max-width: 75%;
    min-height: 400px;
    padding-left: 20px;
}

.c-top_swiper {
    display: flex;
    margin: 15px 0 0;
}

.c-swiper {
    background-color: #fff;
    padding: 9px 33px 11px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    height: 100%;
    margin: 20px 0 0;
}

.c-top_swiper .c-swiper {
    margin: 0;
}

.c-swiper_headline {
    margin: 0 0 6px 33px;
    position: relative;
}

    .c-swiper_headline::after {
        content: "";
        position: absolute;
        height: 1px;
        background-color: #dfdfdf;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .c-swiper_headline span {
        font-size: 18px;
        font-weight: 700;
        padding: 8px 0;
        display: flex;
        min-height: 48px;
        line-height: 31px;
        position: relative;
    }

        .c-swiper_headline span::before {
            content: "";
            position: absolute;
            background-color: #ef5461;
            width: 215px;
            height: 1px;
            right: 0;
            bottom: 0;
            left: -40px;
            z-index: 1;
        }

        .c-swiper_headline span::after {
            content: "";
            position: absolute;
            background-color: #FFf;
            height: 1px;
            width: 15px;
            bottom: 0;
            right: 215px;
            z-index: 3
        }

.c-swiper_content {
    position: relative;
}

.c-swiper_container {
    overflow: hidden;
    padding-top: 3px;
}

.c-swiper_box {
    display: flex;
    padding: 2px 0;
    transition: transform .4s ease-in-out;
}

.c-swiper_slide {
    flex-shrink: 0;
    transition: all .3s ease-in-out;
}

    .c-swiper_slide:hover {
        transform: translateY(-2px);
    }

.c-swiper_url {
    padding: 5px 15px 35px;
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    align-items: center;
    position: relative;
}

    .c-swiper_url:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    }

        .c-swiper_url:hover::after {
            position: absolute;
            content: "";
            height: 2px;
            bottom: -2px;
            right: 0;
            left: 0;
        }

.c-swiper_img {
    width: 210px;
    height: 210px;
    display: flex;
    position: relative;
    max-width: 100%
}

    .c-swiper_img img {
        width: 210px;
        height: 210px;
    }

        .c-swiper_img img[alt]::after {
            position: absolute;
            content: attr(alt);
            background: #fff url(../Images/discount/digikala.png) no-repeat 50%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-size: contain;
            color: transparent;
            text-align: center;
        }

.c-swiper_title {
    margin-top: 14px;
    font-size: 12px;
    width: 90%;
    text-align: center;
    line-height: 25px;
}

.c-swiper_price {
    bottom: 10px;
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: center;
}

.c-swiper_price-value {
    color: #fb3449;
    font-size: 20px;
    line-height: 22px;
}

    .c-swiper_price-value span {
        font-size: 14px;
    }

.c-swiper_btn-prev, .c-swiper_btn-next {
    position: absolute;
    background-color: #fff;
    width: 46px;
    height: 90px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -22px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #a8a8a8;
    margin-top: -35px;
}

.c-swiper_btn-next {
    left: 20px;
    margin-left: -20px;
    box-shadow: 1.5px 0 4px 0 rgba(0, 0, 0, .15);
    border-radius: 0 5px 5px 0;
}

    .c-swiper_btn-next::before {
        content: "\e011";
    }

.c-swiper_btn-prev {
    right: 10px;
    margin-right: -43px;
    box-shadow: -1.5px 0 4px 0 rgba(0, 0, 0, .15);
     border-radius: 5px 0 0 5px;
}

    .c-swiper_btn-prev::before {
        content: "\e014";
    }

    .c-swiper_btn-next::before, .c-swiper_btn-prev::before {
        font-family: Digikala;
        font-size: 26px;
        top: 50%;
        position: absolute;
        left: 50%;
        margin: -13px 0 0 -13px;
        line-height: 1;
        color: #000;
        font-weight: 700;
    }

    .c-swiper_btn-prev.swiper-button-disabled, .c-swiper_btn-next.swiper-button-disabled {
        opacity: .15;
        cursor: auto;
    }

.c-top_swiper-left {
    flex-basis: 25%;
    max-width: 25%;
}

.c-single_swiper {
    background-color: #fff;
    height: 100%;
    border-radius: 5px;
}

.c-single_swiper-content {
    height: 100%;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .03);
    border: 1px solid rgba(0, 191, 214, .3);
    text-align: center;
}

.c-single_swiper-headline {
    height: 57px;
    line-height: 56px;
    font-weight: 500;
    margin: 0 13px;
    color: #6a6a6a;
    position: relative;
}

    .c-single_swiper-headline::before {
        position: absolute;
        content: "";
        height: 1px;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #f5f5f5;
    }

    .c-single_swiper-headline::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 0;
        background-image: linear-gradient(90deg,#ffd3db,#fb3449);
        left: 0;
        bottom: 0;
        box-shadow: 0 0 8px 0 rgba(255, 138, 138, .5);
    }

    .c-single_swiper-headline.is-active::after {
        animation: headline 5s ease-in-out;
    }

    .c-single_swiper-headline.pause::after {
        animation-play-state: paused;
    }

@keyframes headline {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.c-single_swiper-container {
    overflow: hidden;
    padding-top: 3px;
    height: calc(100% - 57px);
}

.c-single_swiper-box {
    display: flex;
    transition: transform .4s ease-in-out;
}

.c-single_swiper-slide {
    flex-shrink: 0;
    height: 100%;
}

.c-single_swiper-img {
    width: 210px;
    height: 210px;
    display: flex;
    margin: 11px auto 7px;
}

.c-single_swiper-desc {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 252px);
}

.c-single_swiper-title {
    height: 50px;
    font-weight: 500;
    color: #4f4f4f;
    padding: 0 10px;
    font-size: 12px;
    line-height: 25px;
}

.c-single_swiper-price del {
    font-size: 16px;
    line-height: 1.375;
    color: #acacac;
}

.c-single_swiper-price span {
    display: block;
    color: #fb3449;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    margin-top: 5px;
}
.c-digikala-banner {
    margin-top: 20px;
}

.c-swiper_brand .c-swiper_slide {
    display: flex;
    height: 135px;
    justify-content: center;
    align-items: center;
    margin: 20px 10px 0 10px
}

.c-swiper_brand img {
    max-height: 70%;
    max-width: 70%;
    margin-top: 20px
}