﻿*, ::before, ::after {
    box-sizing: border-box;
}

.c-product_page .c-breadcrumb li:last-child {
    font-weight: 300;
}

.c-produt {
    background-color: #fff;
    box-shadow: 0 12px 12px 0 rgba(181,181,181,.1);
    border: 1px solid #e4e4e4;
    display: inline-flex;
    margin-bottom: 15px;
    width: 100%;
}

.c-product_gallery {
    flex-basis: 400px;
    max-width: 400px;
    flex-shrink: 0;
}

.c-gallery {
    height: 100%;
}

.c-gallery_item {
    display: flex;
    height: calc(100% - 100px);
    padding: 17px 0;
}

.c-gallery_options {
    display: flex;
    flex-direction: column;
    margin-right: 19px;
}

    .c-gallery_options li {
        margin-top: 12px;
        position: relative;
    }

        .c-gallery_options li:first-child {
            margin-top: 0;
        }


.btn-option {
    width: 51px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid #cacaca;
    background-color: #fff;
    color: #565656;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

    .btn-option:hover {
        border-color: #9d9d9d;
    }

    .btn-option::before {
        position: absolute;
        font-family: DigiKala;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

.btn-option_wishlist::before {
    content: "\e0d0";
    font-size: 22px;
}

.btn-option_social::before {
    content: "\e0b5";
    font-size: 26px;
}

.btn-option_compare::before {
    content: "\e017";
    font-size: 25px;
    font-weight: 600;
}

.btn-option_states::before {
    content: "\e0b9";
    font-size: 21px;
}


.c-toltip_short {
    position: absolute;
    font-size: 13px;
    white-space: nowrap;
    line-height: 1.692;
    background-color: #6f6f6f;
    color: #fff;
    padding: 9px 15px;
    display: none;
    opacity: 0;
    animation-name: toltip;
    animation-duration: .3s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 20;
}


.c-gallery_options li:hover .c-toltip_short {
    display: block;
}

.c-toltip_short-left {
    right: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
}

.c-toltip_short::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
}

.c-toltip_short-left::before {
    border-width: 10px 0 12px 10px;
    border-color: transparent transparent transparent #6f6f6f;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes toltip {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.c-gallery_img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

    .c-gallery_img img {
        max-width: 85%;
        max-height: 85%;
    }

        .c-gallery_img img[alt]::after {
            background: #fff url(../Images/discount/digikala.png) no-repeat 50%;
            position: absolute;
            content: attr(alt);
            right: 0;
            bottom: 0;
            left: 0;
            top: 0;
            background-size: contain;
            color: transparent;
            text-align: center;
        }





.c-gallery_items {
    border-top: 1px solid #f4f4f4;
    display: flex;
    padding: 11px 0 27px;
}

    .c-gallery_items li {
        flex-basis: 25%;
        max-width: 25%;
        height: 68px;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0 10px;
    }

        .c-gallery_items li:nth-child(4) {
            display: none;
        }


        .c-gallery_items li img {
            max-width: 100%;
            max-height: 100%;
            opacity: .7;
        }


.btn-items_more {
    position: relative;
    height: 52px;
    width: 59px;
    border: 1px solid #e2e2e2;
    background-color: #fefefe;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
}

    .btn-items_more::before {
        font-family: DigiKala;
        content: "\e039";
        position: absolute;
        font-size: 7px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: #777;
    }

    .btn-items_more::after {
        position: absolute;
        width: 200%;
        height: 200%;
        content: "";
        background-color: rgba(255,255,255,.2);
        right: -50%;
        top: -50%;
        opacity: 0;
        transition: all .3s ease-in-out;
    }


    .btn-items_more:hover::after {
        opacity: 1
    }

.c-stars {
    display: flex;
    position: relative;
    font-size: 18px;
}

.c-profile_wishlist .c-stars {
    margin-top: 10px;
    width: 100px;
}

.c-stars_item::before {
    width: 15px;
    height: 14px;
    display: inline-block;
    background: url(../Images/Favorites/star.svg) no-repeat 50% 50%;
    content: "";
    background-size: 100%;
}

.c-stars_selected {
    position: absolute;
    display: flex;
    overflow: hidden;
}

    .c-stars_selected .c-stars_item::before {
        background-image: url(../Images/Favorites/star_fill.svg);
    }


.c-product_info {
    padding: 0 30px 0 20px;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
}

.c-product_headline {
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 0;
    display: flex;
    align-items: center;
    min-height: 95px;
}

.c-product_title {
    font-size: 15px;
    line-height: 1.467;
    font-weight: 400;
    color: #494949;
    margin: 0;
}

.c-product_headline span {
    font-size: 12px;
    line-height: 1.833;
    color: #b5b5b5;
    display: block;
    margin-top: 5px;
}

.c-product_rating {
    margin-right: auto;
    color: #a0a0a0;
    font-size: 13px;
    line-height: 1.692;
}

    .c-product_rating .c-stars {
        margin-bottom: 5px;
    }

.c-product_attribute {
    display: flex;
    height: 100%;
}

.c-produt_config {
    flex-basis: 300px;
    padding: 12px 0 0 20px;
    flex-grow: 1;
}

.c-product_directory {
    font-size: 11px;
}

    .c-product_directory ul {
        margin-right: -28px;
    }

        .c-product_directory ul li {
            margin-right: 28px;
            display: inline-block;
        }

.c-product_color {
    display: flex;
    margin: 20px 0 10px;
    color: #6f6f6f;
    font-size: 13px;
}

    .c-product_color > span {
        display: flex;
        align-items: center;
        padding-left: 15px;
    }

    .c-product_color ul {
        margin-right: -8px;
    }

        .c-product_color ul li {
            display: inline-block;
            margin: 0 8px 8px 0;
        }

.c-color {
    display: inline-block;
    position: relative;
}

.c-color_shape {
    position: absolute;
    width: 17px;
    height: 17px;
    border: 1px solid #ccc;
    right: 8px;
    top: 8px;
    border-radius: 5px;
}


.c-color input[type="radio"] {
    visibility: hidden;
    position: absolute;
}

.c-color_check {
    cursor: pointer;
    border: 1px solid #dedede;
    padding: 5px 37px 5px 16px;
    border-radius: 5px;
    line-height: 1.692;
    display: block;
}

input[type="radio"]:checked + .c-color_check {
    border-color: #00bfd6
}

.c-product_gaurantee {
    margin: 10px 0 15px;
    font-size: 13px;
    line-height: 1.692;
}

.c-product_gaurantee-text {
    position: relative;
    color: #6f6f6f;
    padding-right: 36px;
}

    .c-product_gaurantee-text::before {
        font-family: DigiKala;
        content: "\e054";
        font-size: 23px;
        color: #d5d5d5;
        position: absolute;
        right: 2px;
        line-height: 1;
        top: -2px;
    }

.c-product_delivery {
    font-size: 12px;
    line-height: 1.833;
    padding: 15px 0;
    border-top: 1px solid #f2f2f2;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #f2f2f2;
    color: #565656;
}

.c-product_delivery-seller {
    position: relative;
    padding-right: 38px;
}

    .c-product_delivery-seller::before {
        font-family: DigiKala;
        content: "\e0a9";
        position: absolute;
        right: 1px;
        font-size: 20px;
        color: #c1c1c1;
        top: 1px;
        line-height: 1;
    }

    .c-product_delivery-seller > span {
        border-right: none;
        width: 100%;
        margin-top: 5px;
        display: block;
    }

.c-product_delivery-warehouse {
    position: relative;
    padding-right: 38px;
    margin-top: 20px;
    color: #00bfd6;
    font-weight: 700;
}

    .c-product_delivery-warehouse::before {
        content: "";
        background: url(../Images/Product/svg/warehouse.svg) no-repeat 50% 50%;
        position: absolute;
        height: 21px;
        width: 28px;
        right: 0;
        top: -2px;
        background-size: contain;
    }

.c-product_price-value {
    font-size: 31px;
    color: #fb3449;
    line-height: 1.419;
    letter-spacing: 1.1px;
}

.c-product_price-currencuy {
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: .4px;
}

.c-product_add {
    margin-top: 10px;
    padding-bottom: 45px;
    position: relative
}

.btn-add_cart {
    font-size: 18px;
    background-color: #00bfd6;
    line-height: 1.222;
    padding: 16px 98px 16px 18px;
    border-radius: 8px;
    color: #fff;
    border: 1px solid #41a7b4;
    width: 100%;
    max-width: 380px;
    display: block;
    text-align: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    letter-spacing: -.7px;
}

    .btn-add_cart::before {
        position: absolute;
        content: "";
        width: 90px;
        height: 90px;
        background: rgba(255,255,255,.2);
        right: -11px;
        top: -17px;
        border-radius: 50%;
        transition: all .3s ease-in-out;
    }

    .btn-add_cart:hover::before {
        width: 900px;
        height: 900px;
        right: -450px;
        top: -450px;
    }


.btn-add_cart-text::before, .btn-add_cart-text::after {
    font-family: DigiKala;
    position: absolute;
}

.btn-add_cart-text::before {
    content: "\e023";
    right: 32px;
    font-size: 27px;
    top: 12px;
}

.btn-add_cart-text::after {
    content: "\e083";
    right: 14px;
    font-size: 12px;
    top: 20px;
}

.c-product_price-question {
    margin: 10px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 22px;
    color: #7c7c7c;
    font-size: 13px;
    letter-spacing: -.3px;
}

    .c-product_price-question a:first-of-type {
        margin-left: 10px;
        margin-right: 10px;
        display: inline-block;
        position: relative;
    }

        .c-product_price-question a:first-of-type::before {
            position: absolute;
            content: "";
            width: 1px;
            bottom: 0;
            top: 0;
            background-color: #d3d3d3;
            left: -8px;
        }

    .c-product_price-question a:last-of-type {
        margin-right: 5px;
    }

.c-product_params {
    flex-basis: 209px;
    margin-right: auto;
    padding: 12px 0 0;
    display: flex;
    flex-direction: column;
}

    .c-product_params ul {
        line-height: 1.833;
        margin: 20px 0;
        font-size: 12px;
    }

        .c-product_params ul::before {
            content: attr(data-title);
            font-size: 13px;
            line-height: 1.692;
            display: block;
            font-weight: 700;
        }

        .c-product_params ul li {
            margin: 5px 0;
            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
        }

            .c-product_params ul li::before {
                content: "";
                width: 5px;
                height: 5px;
                background-color: #ccc;
                border-radius: 50%;
                margin-left: 5px;
            }

            .c-product_params ul li span {
                margin-left: 5px;
            }

.c-product_params-more {
    display: none !important;
}

    .c-product_params-more.is-active {
        display: inline-flex !important;
    }

.c-product_params ul li.c-product_params-more-btn::before {
    content: attr(data-sign);
    height: unset;
    width: unset;
    color: #1ca2bd;
    background: none;
}

.c-product_params-more-btn .c-link_underline {
    background: none;
    border: none;
    padding: 0;
}

.c-link_underline-tag {
    padding-right: 22px;
    margin-top: auto;
    margin-bottom: 25px;
    white-space: nowrap;
}

    .c-link_underline-tag::before {
        font-family: DigiKala;
        content: "\e0bc";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 17px;
    }

.c-product_feature {
    display: none;
    border-top: 1px solid #f4f4f4;
    height: 141px;
    align-items: center;
    font-size: 11px;
    line-height: 2;
}

.c-product_feature-content {
    width: 100%;
}

.c-product_feature-row {
    display: flex;
}

.c-product_feature-col {
    flex-basis: 20%;
    max-width: 20%;
    display: inline-flex;
    justify-content: center;
}

.c-product_feature-item {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.c-product_feature-item-1 {
    background: url(../Images/Product/svg/1.svg) 100% 50% no-repeat;
    padding-right: 65px;
    background-size: 55px auto;
}

.c-product_feature-item-2 {
    background: url(../Images/Product/svg/2.svg) 100% 50% no-repeat;
    background-size: 39px auto;
}

.c-product_feature-item-3 {
    background: url(../Images/Product/svg/3.svg) 100% 50% no-repeat;
    background-size: 40px auto;
}

.c-product_feature-item-4 {
    background: url(../Images/Product/svg/4.svg) 100% 50% no-repeat;
    background-size: 40px auto;
}

.c-product_feature-item-5 {
    background: url(../Images/Product/svg/5.svg) 100% 50% no-repeat;
    background-size: auto 100%;
}

.c-prduct_feature-body {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 0 12px 12px 0 rgba(181,181,181,.1);
    padding: 0 25px;
}

    .c-prduct_feature-body .c-product_feature {
        display: flex;
        width: 100%;
        height: 83px;
        border-top: none;
    }

.c-box_supliers .c-box {
    border: none;
    box-shadow: none;
    margin: 0;
}

.c-box_suplier-headlin {
    margin: 26px 0 20px;
    padding: 0 60px 0 30px;
    position: relative;
}

    .c-box_suplier-headlin::before {
        font-family: DigiKala;
        content: "\e0a9";
        position: absolute;
        font-size: 24px;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
        color: #bcbcbc;
    }

    .c-box_suplier-headlin > span {
        font-size: 18px;
        line-height: 31px;
    }

.c-table_supliers-head {
    line-height: 1.571;
    margin: 0 0 15px;
}

.c-table_supliers-row {
    display: flex;
}

.c-table_supliers-cell {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.c-table_supliers-head .c-table_supliers-cell {
    background-color: #5e98ae;
    color: #fff;
    padding: 10px 20px;
    border-right: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
}

    .c-table_supliers-head .c-table_supliers-cell:first-child {
        border-right: none;
    }

.c-table_supliers-cell_title {
    flex-basis: 350px;
    max-width: 350px;
}

.c-table_supliers-cell_conditions {
    flex-basis: 22%;
}

.c-table_supliers-cell_gaurantee {
    flex-basis: 20%;
}

.c-table_supliers-cell_price {
    flex-basis: 16.5%;
    justify-content: center;
}

.c-table_supliers-cell_action {
    flex-basis: 17.7%;
}

.c-table_supliers-main .c-table_supliers-cell {
    padding: 15px 20px;
    border-right: 1px solid #ededed;
}

    .c-table_supliers-main .c-table_supliers-cell:first-child {
        border-right: none;
    }

.c-table_supliers-main .c-table_supliers-row:nth-child(2n) .c-table_supliers-cell {
    background-color: #fcfcfc;
}


.c-table_supliers-main .c-table_supliers-cell_title p {
    font-size: 18px;
    line-height: 1.222;
    max-width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.c-table_supliers-cell_title .c-table_supliers-line {
    display: block;
    font-size: 14px;
    line-height: 1.571;
    color: #8c8c8c;
    margin-top: 5px;
}

    .c-table_supliers-cell_title .c-table_supliers-line::before {
        font-family: DigiKala;
        content: "\e060";
        margin-left: 4px;
        vertical-align: middle;
    }

.c-table_supliers-line > span {
    color: #009ec9
}

.c-table_supliers-main .c-table_supliers-cell_conditions {
}

    .c-table_supliers-main .c-table_supliers-cell_conditions::before {
        background: url(../Images/Product/svg/warehouse2.svg) 50% 50% no-repeat;
        background-size: contain;
        content: "";
        height: 33px;
        width: 33px;
        margin-left: 10px;
    }

.c-table_supliers-main .c-table_supliers-cell_no-lead_time::before {
    background: url(../Images/Product/svg/warehouse.svg) 50% 50% no-repeat;
    background-size: contain;
}

.c-table_supliers-main .c-table_supliers-cell_conditions p {
    line-height: 1.571;
    color: #ef5661;
    letter-spacing: -.3px;
}

.c-table_supliers-main .c-table_supliers-cell_no-lead_time > p {
    color: #00bfd6;
}

.c-table_supliers-main .c-table_supliers-cell_conditions p .c-table_supliers-line {
    display: block;
    color: #8c8c8c;
    font-size: 12px;
    line-height: 1.42;
}


.c-table_supliers-main .c-table_supliers-cell_gaurantee {
    font-size: 15px;
}

    .c-table_supliers-main .c-table_supliers-cell_gaurantee::before {
        font-family: DigiKala;
        content: "\e054";
        font-size: 23px;
        color: #00bfd6;
        margin-right: -3px;
        margin-left: 5px;
    }

    .c-table_supliers-main .c-table_supliers-cell_gaurantee span:not(:last-child) {
        margin-left: 5px;
    }

.c-table_supliers-price {
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: .8px;
    color: #76787a;
}

.c-table_supliers-currency {
    font-size: 17px;
    line-height: 1.294;
}

.c-table_supliers-cell_action .btn-primary {
    text-align: center;
    height: unset;
    padding: 14px 31px;
    font-size: 16px;
    font-weight: 400;
    border-color: #00bfd6;
    line-height: 1.375;
    white-space: nowrap;
}

.c-supliers_more-item {
    display: none;
}

    .c-supliers_more-item.is-active {
        display: flex;
    }

.c-table_supliers-less, .c-table_supliers-more {
    padding: 23px 30px 31px;
    text-align: center;
    font-size: 16px;
    border-top: 1px solid #ededed;
}

.c-link_underline-arrow_down::before, .c-link_underline-arrow_up:before {
    font-family: DigiKala;
    content: "\e010";
    position: absolute;
    right: 100%;
    font-size: 11px;
    margin-right: 9px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}

.c-link_underline-arrow_down::before {
    transform: translateY(-50%) rotate(0);
}

.c-table_supliers-less .c-link_underline, .c-table_supliers-more .c-link_underline {
    background: none;
    border: none;
    padding: 0;
}


.c-tabs {
    margin-top: 39px;
    padding-top: 57px;
    line-height: 22px;
    position: relative;
}

.c-box_tabs {
    position: absolute;
    top: 0;
    display: flex;
    background-color: #f8f8f8;
    border: 1px solid #dfdfdf;
    width: 100%;
    font-size: 17px;
    letter-spacing: -.4px;
}

    .c-box_tabs.is-fixed {
        position: fixed;
        width: calc(100% - 30px);
        min-width: 1005px;
        box-shadow: 0 5px 10px 0 rgba(181,181,181,.2);
        z-index: 100;
    }

.c-box_tabs-tab {
    border-left: 1px solid #dfdfdf;
    position: relative;
}

    .c-box_tabs-tab.is-active::before {
        content: "";
        position: absolute;
        height: 4px;
        right: -1px;
        left: -1px;
        bottom: 100%;
        background: #00bfd6;
    }


    .c-box_tabs-tab a {
        padding: 14px 20px;
        line-height: 27px;
        display: block;
        position: relative;
        color: #6f6f6f;
    }

    .c-box_tabs-tab.is-active a {
        background-color: #fff;
        padding-top: 15px;
        margin-bottom: -1px;
    }

    .c-box_tabs-tab a[data-tab-name]::before {
        font-family: DigiKala;
        color: #c3c3c3;
        margin-left: 11px;
        display: inline-block;
        vertical-align: top;
        line-height: 1;
    }

    .c-box_tabs-tab.is-active a[data-tab-name]::before {
        color: #a4a4a4;
    }

    .c-box_tabs-tab a[data-tab-name="desc"]::before {
        content: "\e046";
        font-size: 21px;
        margin-top: 3px;
    }

    .c-box_tabs-tab a[data-tab-name="prop"]::before {
        content: "\e078";
        font-size: 26px;
        margin-top: -1px;
    }

    .c-box_tabs-tab a[data-tab-name="comments"]::before {
        content: "\e031";
        font-size: 27px;
    }

    .c-box_tabs-tab a[data-tab-name="questions"]::before {
        content: "\e043";
        font-size: 27px;
        margin-top: -1px;
    }


.c-tabs_content {
    padding: 35px 53px 35px 61px;
    margin-bottom: 58px;
    background-color: #fff;
}

    .c-tabs_content > div {
        display: none;
    }

        .c-tabs_content > div.is-active {
            display: block;
        }

.c-params_headline {
    font-size: 30px;
    line-height: 1.467;
    font-weight: 500;
    margin: 0;
    margin-bottom: 35px;
    color: #6f6f6f;
    letter-spacing: -.6px;
}

    .c-params_headline > span {
        font-size: 16px;
        display: block;
        color: #a7a7a7;
        letter-spacing: -.3px;
    }

.c-tabs_content-desc_summray {
    background-color: #fcfcfc;
    color: #404040;
    font-size: 16px;
    line-height: 2.25;
    padding: 25px 322px 27px 50px;
    position: relative;
    margin-right: -24px;
    margin-left: -16px;
}

    .c-tabs_content-desc_summray::before {
        content: "";
        background: url(../Images/Product/svg/pen.svg) no-repeat 50% 50%;
        position: absolute;
        width: 165px;
        height: 165px;
        right: 81px;
        top: 30px;
        background-size: 100%;
    }

.c-mask {
    padding-bottom: 15px;
    position: relative;
}

.c-mask_text {
    overflow: hidden;
}

.c-mask_btn {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 15px;
    background: #fcfcfc;
    color: #2196f3;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

    .c-mask_btn::before {
        content: "";
        position: absolute;
        background: linear-gradient(180deg,rgba(255,255,255,0),rgb(255,255,250) 99%,#fcfcfc);
        right: 0;
        left: 0;
        bottom: 30px;
        height: 105px;
    }

.c-mask_text.is-active + .c-mask_btn::before {
    content: unset;
}

.c-tabs_content-desc_stats {
    display: flex;
    margin: 25px -30px 25px;
}

.c-tabs_content-desc_stats-aside {
    flex-basis: 50%;
    max-width: 50%;
    padding-right: 30px;
    padding-left: 30px;
}

.c-tabs_content-desc_rating {
    background-color: #fcfcfc;
    padding: 33px 33px 33px 60px;
    border-radius: 5px;
}

    .c-tabs_content-desc_rating > li {
        display: flex;
        align-items: center;
        margin-right: -7px;
        margin-left: -7px;
        margin-top: 15px;
    }

        .c-tabs_content-desc_rating > li:first-child {
            margin-top: 0;
        }

        .c-tabs_content-desc_rating > li .cell {
            padding-right: 7px;
            padding-left: 7px;
        }

            .c-tabs_content-desc_rating > li .cell:first-child {
                flex-basis: 45%;
                max-width: 45%;
            }

            .c-tabs_content-desc_rating > li .cell:last-child {
                flex-basis: 55%;
                max-width: 55%;
            }

.c-rating {
    height: 4px;
    background-color: #d5d5d5;
    border-radius: 3px;
    position: relative;
}

    .c-rating[data-rate]::before {
        position: absolute;
        content: attr(data-rate);
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 11px;
        color: #6f6f6f;
        font-size: 13px;
    }

.c-rating_rate {
    height: 100%;
    background-color: #00bfd6;
    border-radius: 3px;
}

.c-tabs_content-desc_stats-evaluation {
    display: flex;
    margin: 30px -10px 40px;
}

.c-tabs_content-desc_stats-evaluation_positive, .c-tabs_content-desc_stats-evaluation_negetive {
    padding-right: 10px;
    padding-left: 10px;
    flex-basis: 50%;
    max-width: 50%;
}

    .c-tabs_content-desc_stats-evaluation_positive > span, .c-tabs_content-desc_stats-evaluation_negetive > span {
        color: #00bfd6;
        font-size: 16px;
        line-height: 1.375;
    }

    .c-tabs_content-desc_stats-evaluation_negetive > span {
        color: #ff637d;
    }

    .c-tabs_content-desc_stats-evaluation_positive ul li, .c-tabs_content-desc_stats-evaluation_negetive ul li {
        padding-right: 17px;
        margin: 6px 0;
        color: #5f5f5f;
        position: relative;
    }

        .c-tabs_content-desc_stats-evaluation_positive ul li::before, .c-tabs_content-desc_stats-evaluation_negetive ul li::before {
            position: absolute;
            content: "";
            width: 6px;
            height: 6px;
            background-color: #00bfd6;
            border-radius: 50%;
            right: 0;
            top: 8px;
        }

        .c-tabs_content-desc_stats-evaluation_negetive ul li::before {
            background-color: #ff637d;
        }

.c-tabs_content-desc_review {
    font-size: 16px;
    line-height: 2.25;
    padding: 25px 32px 27px 25px;
    color: #404040;
}

.c-tabs_content-desc_articles {
    border-bottom: 1px solid #dddd;
    margin-top: 100px;
    margin-bottom: 40px;
}

.c-tabs_content-desc_article {
    margin: 11px 0;
    padding-right: 76px;
    position: relative;
    padding-bottom: 10px;
}

    .c-tabs_content-desc_article::before {
        position: absolute;
        content: "";
        width: 1px;
        background-color: #eee;
        bottom: 0;
        top: 43px;
        right: 18px;
    }

.c-tabs_content-desc_article-button {
    width: 38px;
    height: 32px;
    background-color: #a7a9a9;
    border: none;
    border-radius: 0 15px 15px 15px;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
}

    .c-tabs_content-desc_article-button::before {
        font-family: DigiKala;
        content: "\e083";
    }

.c-tabs_content-desc_article.is-active .c-tabs_content-desc_article-button::before {
    content: "\e067";
}

.c-tabs_content-desc_article-title {
    font-weight: 500;
    font-size: 22px;
    padding: 5px 0;
    margin: 0 0 25px;
    color: #494949;
}

.c-tabs_content-desc_article-text {
    font-size: 15px;
    line-height: 2.53;
    color: #404040;
    display: none;
}

.c-tabs_content-desc_article-img {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 48px;
    display: none
}

    .c-tabs_content-desc_article-img img {
        vertical-align: top;
        max-width: 100%;
    }

.c-tabs_content-desc_article-blockquote {
    display: none;
    position: relative;
    margin: 15px 0;
    background: #fbfbfb;
    font-size: 16px;
    line-height: 2.75;
    padding: 40px 150px 40px 121px;
    font-weight: 300;
    color: #494949;
    letter-spacing: -.1px;
}

    .c-tabs_content-desc_article-blockquote::before {
        position: absolute;
        content: "";
        background: url(../Images/Product/article/blockquote_start.svg) no-repeat 50% 50%;
        width: 69px;
        height: 55px;
        right: 56px;
        top: 29px;
    }

    .c-tabs_content-desc_article-blockquote::after {
        position: absolute;
        content: "";
        background: url(../Images/Product/article/blockquote_end.svg) no-repeat 50% 50%;
        width: 60px;
        height: 48px;
        left: 44px;
        bottom: 24px;
    }

.c-tabs_content-desc_article.is-active .c-tabs_content-desc_article-text,
.c-tabs_content-desc_article.is-active .c-tabs_content-desc_article-img,
.c-tabs_content-desc_article.is-active .c-tabs_content-desc_article-blockquote {
    display: block;
}

.c-tooltip_text {
}


.c-prop_title {
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: -.3px;
    color: #4d4d4d;
    font-weight: 400;
    margin-bottom: 25px;
    position: relative;
    padding-right: 19px;
}

    .c-prop_title::before {
        position: absolute;
        content: "";
        border-style: solid;
        border-width: 7px 0 0 7px;
        border-color: transparent transparent transparent #00bfd6;
        right: 0;
        bottom: 7px;
        transform: rotate(45deg);
    }

.c-prop_list {
    margin-bottom: 70px;
}

    .c-prop_list li {
        display: flex;
        margin: 8px -8px;
    }

.c-prop_list-name {
    flex-basis: 22.2%;
    max-width: 22.2%;
    padding-right: 8px;
    padding-left: 8px;
}

.c-prop_list-value {
    flex-basis: 77.8%;
    max-width: 77.8%;
    padding-right: 8px;
    padding-left: 8px;
}

.c-prop_list-span {
    background: #fafafa;
    padding: 14px 18px 12px;
    display: block;
    font-size: 13px;
    letter-spacing: -.3px;
}

.c-tabs_content-comments_headline {
    font-size: 28px;
    line-height: 1.571;
    color: #6f6f6f;
    letter-spacing: .6px;
    margin: 0;
}

    .c-tabs_content-comments_headline > span {
        display: block;
        font-size: 16px;
        width: 100%;
        margin-top: 10px;
    }

.c-tabs_content-comments_summary {
    display: flex;
    margin: 25px -30px 60px;
}

.c-tabs_content-comments_summary-rating, .c-tabs_content-comments_summary-note {
    flex-basis: 50%;
    max-width: 50%;
    padding-right: 30px;
    padding-left: 30px;
}

    .c-tabs_content-comments_summary-note > span {
        font-size: 19px;
        margin-bottom: 20px;
        display: block;
        color: #5a5a5a;
        letter-spacing: -.4px;
    }

    .c-tabs_content-comments_summary-note > p {
        font-size: 15px;
        line-height: 2.27;
        margin-bottom: 35px;
        color: #676767;
    }

.btn-add_comment {
    background-color: #7a7a7a;
    color: #fff;
    font-size: 16px;
    padding: 16px 105px 16px 45px;
    border-radius: 8px;
    letter-spacing: -.7px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

    .btn-add_comment::before {
        width: 95px;
        height: 95px;
        content: "";
        position: absolute;
        right: -25px;
        top: -20px;
        background-color: rgba(255,255,255,.2);
        border-radius: 50%;
        transition: all .3s ease-in-out;
    }

    .btn-add_comment:hover::before {
        width: 900px;
        height: 900px;
        top: -450px;
        right: -450px;
    }

.btn-add_comment-text::before {
    font-family: DigiKala;
    content: "\e030";
    position: absolute;
    right: 22px;
    font-size: 23px;
    top: 15px;
}

.btn-add_comment-text::after {
    font-family: DigiKala;
    content: "\e083";
    position: absolute;
    right: 30px;
    font-size: 8px;
    line-height: 1;
    top: 18.5px;
}

.c-tabs_content-comments_filter {
    border-bottom: 1px solid #eee;
    display: flex;
    margin-top: 60px;
}

.c-faq_filter-title {
    font-size: 16px;
    padding: 14px 19px;
    position: relative;
}

    .c-faq_filter-title::before {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 7px 0 0 7px;
        border-color: transparent transparent transparent #00bfd6;
        right: 0;
        bottom: 20px;
    }

.c-faq_filter-items {
    margin-right: auto;
    font-size: 16px;
}

    .c-faq_filter-items[data-title]::before {
        content: attr(data-title);
        padding: 14px 10px;
    }

    .c-faq_filter-items li {
        display: inline-block;
        margin-right: 10px;
    }

        .c-faq_filter-items li a {
            padding: 14px 17px;
            display: block;
            color: #4d4d4d;
            position: relative;
        }

            .c-faq_filter-items li a.is-active {
                color: #00bfd6;
            }


                .c-faq_filter-items li a.is-active::before {
                    position: absolute;
                    content: "";
                    height: 1px;
                    width: 100%;
                    background: #00bfd6;
                    top: 100%;
                    left: 0;
                    right: 0;
                }


.c-comments_list {
    margin-top: 18px;
    font-family: IranSans;
}

    .c-comments_list > li {
        background-color: #fcfcfc;
        border: 1px solid #f3f3f3;
        border-radius: 5px;
        padding: 57px 30px 30px;
        margin-bottom: 36px;
    }


        .c-comments_list > li > section {
            display: flex;
            margin-right: -30px;
            margin-left: -30px;
        }

.c-comments_list-asid {
    flex-basis: 27%;
    max-width: 27%;
    flex-shrink: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.c-comments_user-purchased {
    font-size: 13px;
    line-height: 2.23;
    background-color: #fdfff8;
    border: 1px solid #e2f0d5;
    padding: 7px 40px 7px 12px;
    margin-bottom: 25px;
    color: rgba(36,90,29,.98);
    position: relative;
    border-radius: 3px;
}

    .c-comments_user-purchased::before {
        position: absolute;
        font-family: DigiKala;
        content: "\e0b0";
        font-size: 17px;
        right: 12px;
        line-height: 1;
        top: 12px;
    }

.c-comments_user-shopping {
    padding: 5px 0 0;
}


    .c-comments_user-shopping > li {
        margin: 20px 0;
    }

.c-comments_list-asid_row {
    font-size: 13px;
    color: #777;
    margin: 5px 0;
}

.c-comments_list-asid_color-row {
    margin-right: -10px;
    margin-left: -10px;
    display: flex;
}

.c-comments_list-asid_color-value {
    width: 17px;
    height: 17px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.25);
}

.c-comments_list-asid-seller_row::before {
    font-family: DigiKala;
    content: "\e0a9";
    font-size: 20px;
    position: relative;
    top: 5px;
    margin-left: 7px;
}

.c-comments_user-advice {
    color: #1599a9;
    background-color: #f1feff;
    border-color: #c2f2f7;
}

    .c-comments_user-advice::before {
        content: "\e089";
    }

.c-comments_lis-content {
    flex-basis: 73%;
    max-width: 73%;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
    position: relative;
}


.c-comments_lis-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

    .c-comments_lis-header > div {
        font-size: 19px;
        color: #5f5f5f;
        font-weight: 500;
    }

        .c-comments_lis-header > div > span {
            display: block;
            font-size: 14px;
            color: #adadad;
            margin-top: 5px;
            font-weight: 400;
        }

.c-comments_lis-content > p {
    line-height: 2.71;
}

.c-comments_lis-footer {
    position: absolute;
    bottom: 0;
    margin-top: 15px;
    left: 30px;
}


.c-comments_likes {
    color: #777;
    font-size: 13px;
}

.btn-like {
    background: #fff;
    border: 1px solid #ededed;
    border-radius: 8px;
    margin-right: 17px;
    line-height: 1.692;
    padding: 2px 13px;
    color: #8c8c8c;
}

    .btn-like + .btn-like {
        margin-right: 12px;
    }

    .btn-like[data-counter]::before {
        content: attr(data-counter);
        margin-left: 7px;
        color: #7a7a7a;
        font-size: 15px;
    }



.c-comments_evaluations {
    display: flex;
    margin: 30px -10px 40px;
}

.c-comments_evaluations-positive, .c-comments_evaluations-negative {
    padding-right: 10px;
    padding-left: 10px;
    flex-basis: 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
}

    .c-comments_evaluations-positive > span, .c-comments_evaluations-negative > span {
        color: #00bfd6;
        font-size: 16px;
        line-height: 1.375;
        margin-left: 25px;
    }

    .c-comments_evaluations-negative > span {
        color: #ff637d;
    }

    .c-comments_evaluations-positive ul li, .c-comments_evaluations-negative ul li {
        padding-right: 17px;
        margin: 6px 0;
        color: #5f5f5f;
        position: relative;
    }

        .c-comments_evaluations-positive ul li::before, .c-comments_evaluations-negative ul li::before {
            position: absolute;
            content: "";
            width: 6px;
            height: 6px;
            background-color: #00bfd6;
            border-radius: 50%;
            right: 0;
            top: 8px;
        }

        .c-comments_evaluations-negative ul li::before {
            background-color: #ff637d;
        }

.c-faq_tab-headline {
    font-size: 28px;
    line-height: 1.571;
    letter-spacing: -.6px;
    color: #6f6f6f;
    margin: 0;
}

    .c-faq_tab-headline > span {
        display: block;
        font-size: 16px;
        line-height: 1.375;
        margin-top: 10px;
    }


.c-form_faq-row {
    margin-top: 15px;
    display: flex;
    margin-right: -10px;
    margin-left: -10px;
}

.c-form_faq-col {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
}

.c-form_faq .c-textarea {
    height: 180px;
    resize: vertical;
    border-color: #c8c8c8;
}

.c-form_faq-col_submit {
    flex-basis: 20%;
    max-width: 20%;
    flex-shrink: 0;
}

.c-form_faq .btn-primary {
    background-color: #7a7a7a;
    border: none;
    font-size: 17px;
    font-weight: 400;
    height: unset;
    line-height: 1.294;
    padding: 18px 31px;
    letter-spacing: normal;
}

.c-form_faq-col_agreement {
    flex-basis: 79%;
    max-width: 79%;
    padding-right: 45px;
    font-size: 13px;
    line-height: 2.31;
    color: #6f6f6f;
}

    .c-form_faq-col_agreement .c-checkbox {
        position: absolute;
        right: 15px;
        top: 5px;
    }

.c-faq_filter-title > span {
    font-size: 12px;
    color: #7f7f7f;
}

.c-faq_list {
    margin-top: 40px;
}

    .c-faq_list > li {
        border: 1px solid #dbdbdb;
        background: #fcfcfc;
        margin-right: 171px;
        padding: 19px 29px 50px;
        color: #4d4d4d;
        min-height: 220px;
        position: relative;
    }

        .c-faq_list > li:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .c-faq_list > li:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .c-faq_list > li + li {
            background-color: #fff;
            border-top: none;
        }


        .c-faq_list > li::before, .c-faq_list > li::after {
            position: absolute;
            content: "";
            border-style: solid;
            border-width: 11px 0 11px 11px;
            border-color: transparent transparent transparent #dbdbdb;
            left: 100%;
            top: 49px;
        }

        .c-faq_list > li::after {
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent #fcfcfc;
            top: 51px;
        }

.c-faq_header {
    position: absolute;
    left: 100%;
    top: 35px;
    text-align: center;
    width: 122px;
    font-size: 62px;
    color: #35ccde;
    padding-top: 69px;
    margin-left: 44px;
}

    .c-faq_header::before {
        position: absolute;
        font-family: DigiKala;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        line-height: 1;
    }

.c-faq_header-question::before {
    content: "\e095";
}

.c-faq_header-answer {
    font-size: 79px;
    padding-top: 86px;
    color: #ffd188;
}

    .c-faq_header-answer::before {
        content: "\e05f";
    }


.c-faq_header p {
    font-size: 26px;
    color: #7a7a7a;
    line-height: 1.692;
    text-align: center;
}

    .c-faq_header p span {
        display: block;
        font-size: 12px;
        line-height: 1.833;
        color: #959595;
    }

.c-faq_content {
    font-size: 15px;
    line-height: 2.4;
}

.c-faq_footer {
    position: absolute;
    display: flex;
    bottom: 25px;
    width: 100%;
    right: 0;
    padding: 0 29px;
}

    .c-faq_footer > span {
        margin-left: auto;
        color: #d3d3d3;
        font-size: 13px;
    }

.c-faq_answer {
    margin-top: 10px;
}

.c-faq_answer-row {
    display: flex;
}

.c-faq_answer-col_form {
    flex-basis: 54%;
    max-width: 54%;
    padding-right: 26px;
    padding-left: 33px;
}

    .c-faq_answer-col_form > span {
        margin-bottom: 45px;
        display: block;
        font-size: 21px;
        color: #7a7a7a;
        letter-spacing: -.8px;
    }

.c-faq_form-answer_row {
    margin-top: 15px;
    margin-right: -10px;
    margin-left: -10px;
    display: flex;
}

.c-faq_form-answer_col {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}

.c-faq_form-answer .c-textarea {
    resize: vertical;
    height: 267px;
}

.c-faq_form-answer_col-submint {
    flex-basis: 29%;
    max-width: 29%;
}

.c-faq_answer-btn {
    background-color: #00bfd6;
    border: 1px solid #41a7b4;
    width: 100%;
    padding: 14px 31px;
    font-size: 16px;
    color: #fff;
    border-radius: 8px;
    white-space: nowrap;
}

.c-faq_form-answer_col-agreement {
    flex-basis: 59%;
    max-width: 59%;
    font-size: 13px;
    color: #6f6f6f;
    font-weight: 700;
    letter-spacing: -.5px;
}

    .c-faq_form-answer_col-agreement p {
        margin-top: 6px;
    }


.c-faq_answer-col_rules {
    flex-basis: 46%;
    max-width: 46%;
    border-right: 1px solid #f0f0f0;
    padding-right: 25px;
}

.c-faq_rules-headline {
    padding-right: 37px;
    margin-bottom: 25px;
    position: relative;
    display: block;
    font-weight: 700;
    font-size: 17px;
    color: #7a7a7a;
    letter-spacing: -.7px;
}

    .c-faq_rules-headline::before {
        position: absolute;
        font-family: DigiKala;
        content: "\e0d2";
        right: 0;
        top: -5px;
        font-size: 22px;
        line-height: 1;
        font-weight: 400;
    }

.c-faq_rules-list li {
    margin: 15px 0 0;
    padding-right: 33px;
    position: relative;
}

    .c-faq_rules-list li::before {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        background: #e2e2e2;
        border-radius: 50%;
        right: 8px;
        top: 7px;
    }

    .c-faq_rules-list li span {
        font-weight: 600;
        color: #7a7a7a;
        letter-spacing: -.5px;
    }

    .c-faq_rules-list li p {
        margin-top: 10px;
        color: #959595;
        letter-spacing: -.7px;
    }

.c-remodal_price {
    max-width: 805px;
}

.c-remodal_price-main {
    display: flex;
}

.c-remodal_price-aside {
    flex-basis: 46%;
    max-width: 46%;
    padding: 20px 30px;
}

.c-remodal_price-title_img {
    font-size: 17px;
    letter-spacing: -.4px;
    line-height: 1.294;
    color: #565656;
}

.c-remodal_price-img {
    height: 332px;
    display: flex;
    padding: 30px 0;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

    .c-remodal_price-img img {
        max-width: 100%;
        max-height: 100%;
    }


.c-remodal_price-content {
    flex-basis: 54%;
    max-width: 54%;
    background: #fcfcfc;
    padding: 50px 32px 25px 40px;
}

.c-form_price-title {
    font-size: 15px;
    margin-bottom: 8px;
    letter-spacing: -.3px;
    color: #565656;
    line-height: 1.467;
}

.c-form_price-row {
    display: flex;
    margin: 0 -10px 25px;
}

.c-form_price-col {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.c-form_price-options {
    margin: 15px 0 0;
    line-height: 1.571;
}

    .c-form_price-options > li {
        display: inline-block;
        margin-left: 20px;
    }

    .c-form_price-options .c-radio {
        color: #3b3b3b;
        margin-left: 10px;
    }

.c-form_price-row_submit {
    margin-bottom: 0;
}

    .c-form_price-row_submit .btn-primary {
        width: unset;
        padding: 11px 31px;
        margin-left: 10px;
        font-weight: normal;
        letter-spacing: normal;
    }


.c-remodal_price-chart {
    max-width: 900px;
    text-align: center;
}

.-remodal_price-chart_main {
    padding: 15px 30px;
}

.c-remodal_price-chart_aside-title {
    font-size: 18px;
    line-height: 1.222;
    opacity: .96;
    color: #6a6a6a;
}

.c-remodal_price-chart_aside-subtitle {
    font-size: 12px;
    color: #6a6a6a;
    margin-top: 10px;
    line-height: 1.933;
}

.c-remodal_price-chart_title-bottom {
    line-height: 22px;
}
/*---------------------------------------------------------------price chart -----------------------------------------------*/
.c-remodal_price-chart_tooltip p {
    text-align: right;
    font-size: 114px;
    color: #787878;
    letter-spacing: -.4px;
    line-height: 25px;
    direction: rtl;
}

.c-remodal_price-chart_tooltip hr {
    border: 1px solid #e9e9e9;
    margin: 10px 0;
}

/*---------------------------------------------------------------price chart -----------------------------------------------*/
.c-product_price {
    display: flex;
    align-items: center;
}

.c-product_price-value del {
    display: block;
    font-size: 16px;
    color: #acacac;
    line-height: 28px;
    letter-spacing: -.5px;
}

.c-product_price-discount {
    background-color: #ef5661;
    color: #fff;
    padding: 0 22px;
    font-size: 16px;
    margin-right: 10px;
    line-height: 32px;
    height: 32px;
    border-radius: 0 19px 19px 19px;
    letter-spacing: .5px;
    position: relative;
    margin-top: 22px;
}

    .c-product_price-discount::before {
        position: absolute;
        content: attr(data-title);
        bottom: 100%;
        color: #7f7f7f;
        font-size: 13px;
    }

.c-product_status-bar {
    font-size: 22px;
    padding: 28px 72px 28px 17px;
    max-height: 56px;
    position: relative;
    line-height: 0;
}

.c-product_status-bar_outofstuck {
    color: #b37171;
    background-color: #fce9e8;
}

    .c-product_status-bar_outofstuck::before {
        font-family: DigiKala;
        content: "\e070";
        position: absolute;
        right: 36px;
        font-size: 29px;
        top: 50%;
        transform: translateY(-50%);
        color: #ecbbb9
    }

.c-product_status-bar + .c-gallery {
    height: calc(100% - 51px);
}

.c-product_offer {
    flex-basis: 242px;
    margin-right: auto;
    letter-spacing: -.3px;
    text-align: center;
    position: relative;
    padding: 40px 20px 0;
    line-height: 2.18;
    font-size: 11px;
}

    .c-product_offer::before {
        font-family: DigiKala;
        content: "\e055";
        font-size: 35px;
        color: #ff637d;
        position: absolute;
        line-height: 1;
        right: 50%;
        top: 0;
        transform: translateX(50%);
    }

.c-produt .c-message_info {
    color: #4e4e4e;
    margin-top: 83px;
    margin-bottom: 58px;
    padding: 22px 100px 22px 22px;
    min-height: 94px;
    position: relative;
}

    .c-produt .c-message_info::before {
        font-family: DigiKala;
        content: "\e05c";
        position: absolute;
        font-size: 50px;
        right: 25px;
        top: 20px;
        line-height: 1;
        color: #f6e8a1
    }

.btn-notifi_me {
    background-color: #7a7a7a;
    border-color: #fcfcfc;
}

    .btn-notifi_me::after {
        font-family: DigiKala;
        content: "\e00b";
        position: absolute;
        right: 23px;
        font-size: 32px;
        line-height: 1;
        top: 10px;
    }

.c-comment_product-box {
    background-color: #fff;
}

.c-comment_product-row {
    display: flex;
}

.c-comment_product-col_img {
    flex-basis: 31.5%;
    max-width: 31.5%;
    min-height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .c-comment_product-col_img img {
        width: 100%;
        height: 100%;
    }

.c-comment_product-col_info {
    flex-basis: 68.5%;
    max-width: 68.5%;
    background: #fcfcfc;
    padding: 0 30px 39px 28px;
}

.c-comment_product-headline {
    border-bottom: 1px solid #f2f2f2;
    padding: 20px 0;
}

.c-comment_product-title {
    font-size: 22px;
    font-weight: 400;
    color: #494949;
    line-height: 32px;
}

    .c-comment_product-title > span {
        display: block;
        font-size: 14px;
        color: #b5b5b5;
        line-height: 1.571;
        margin-top: 5px;
    }

.c-comment_product-attributes {
    padding: 25px 50px 0 90px;
}

.c-comment_product-attributes_row {
    display: flex;
    margin-right: -90px;
    margin-left: -90px;
    margin-top: 35px;
}

    .c-comment_product-attributes_row:first-child {
        margin-top: 0
    }

.c-comment_product-attributes_col {
    flex-basis: 50%;
    max-width: 50%;
    max-width: 450px;
    padding-right: 40px;
    padding-left: 40px;
}

.c-comment_product-attributes_title {
    font-size: 13px;
    line-height: 1.692;
    margin-bottom: 15px;
}

.c-rating_slider {
    height: 5px;
    background: #d5d5d5;
    margin-left: 40px;
    position: relative;
    direction: ltr;
}

    .c-rating_slider::before {
        content: attr(data-rate-title);
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 27px;
        font-size: 13px;
        white-space: nowrap;
    }

.c-rating_slider-step {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #35cced;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #fcfcfc;
    z-index: 2;
    cursor: pointer;
}

.c-rating_slider-step_one {
    right: calc(0% - 6px);
}

.c-rating_slider-step_two {
    right: calc(25% - 6px);
}

.c-rating_slider-step_three {
    right: calc(50% - 6px)
}

.c-rating_slider-step_four {
    right: calc(75% - 6px)
}

.c-rating_slider-step_five {
    right: calc(100% - 6px)
}

.c-rating_slider-step.is-active ~ span {
    background-color: silver;
}

.c-rating_slider-value {
    height: 100%;
    width: 100%;
}

.c-rating_slider-value_line {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #35cced;
    transition: all .3s ease-in-out;
}

.c-rating_slider-value_line-selector_content {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 4;
    transition: all .3s ease-in-out;
}

.c-rating_slider-value_line-selector {
    width: 19px;
    background: #35cced;
    height: 19px;
    border-radius: 50%;
    position: relative;
    top: -7px;
    left: -9px;
}

.c-comment_add-row {
    display: flex;
}

.c-comment_add-col_form {
    flex-basis: 42.08%;
    max-width: 42.08%;
    padding: 40px 40px 34px 68px;
}

.c-form_comment-row {
    display: flex;
    margin-right: -7px;
    margin-left: -7px;
    margin-top: 25px;
}

    .c-form_comment-row:first-child {
        margin-top: 0;
    }

.c-form_comment-col {
    width: 100%;
    padding-right: 7px;
    padding-left: 7px;
}

.c-form_comment-title {
    margin-bottom: 12px;
    color: #565656;
    font-size: 16px;
    line-height: 1.375;
    position: relative;
}

.c-form_comment-title_positive, .c-form_comment-title_negative {
    padding-right: 25px;
}

    .c-form_comment-title_positive::before, .c-form_comment-title_negative::before {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        background-color: #00bfd6;
        right: 7px;
        top: 6px;
        border-radius: 50%;
    }

    .c-form_comment-title_negative::before {
        background-color: #fb3449;
    }

.c-form_comment-advantages {
    position: relative;
}

    .c-form_comment-advantages .c-input {
        padding-left: 44px;
    }

.c-form_comment-advantages_add-btn {
    position: absolute;
    background: none;
    border: none;
    left: 0;
    top: 0;
    height: 100%;
    width: 48px;
    cursor: pointer;
}

    .c-form_comment-advantages_add-btn::before {
        font-family: DigiKala;
        content: "\e005";
        position: absolute;
        font-size: 22px;
        top: 11px;
        left: 13px;
        line-height: 1;
        color: #878787;
    }

.c-form_comment-dynamic_label {
    margin-top: 16px;
    margin-bottom: 10px;
}

.c-dynamic_label {
    padding: 8px 14px 8px 38px;
    font-size: 12px;
    background-color: #edf6f7;
    color: #3a8c96;
    margin-top: 12px;
    line-height: 1.8333;
    border-radius: 8px;
    position: relative;
}

.c-form_comment-dynamic_label-negative .c-dynamic_label {
    background-color: #fff3f4;
    color: #fb3449;
}

.c-dynamic_label-remove {
    width: 38px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

    .c-dynamic_label-remove::before {
        font-family: DigiKala;
        content: "\e022";
        font-size: 8px;
    }

.c-form_comment .c-textarea {
    resize: vertical;
    height: 160px;
}

.btn-submit_comment {
    font-size: 16px;
    background-color: #00bfd6;
    color: #fff;
    border: 1px solid #41a7b4;
    padding: 14px 31px;
    border-radius: 8px;
    width: 100%;
}

.c-form_comment-col_agreement p {
    font-size: 11px;
    line-height: 2.18;
    margin-top: 3px;
}

.c-comment_add-col_content {
    max-width: 57.02%;
    flex-basis: 57.02%;
    border-right: 1px solid #edededed;
    padding: 40px 50px;
}

    .c-comment_add-col_content h3 {
        margin-bottom: 45px;
        letter-spacing: -.5px;
        font-size: 22px;
        font-weight: 400;
    }

    .c-comment_add-col_content p {
        line-height: 2.36;
    }

.c-remodal_gallery {
    max-width: 90vw;
    direction: ltr;
    height: 650px;
    overflow: visible;
}

.c-remodal_gallery-main {
    display: flex;
    height: 100%;
}

.c-remodal_gallery-content {
    flex-basis: 85.5%;
    max-width: 85.5%;
    height: 100%;
}

    .c-remodal_gallery-content .swiper {
        height: 100%;
    }

    .c-remodal_gallery-content .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .c-remodal_gallery-content .swiper-slide img {
            max-width: 100%;
            max-height: 100%;
        }

.c-remodal_gallery-aside {
    flex-basis: 14.5%;
    max-width: 14.5%;
    height: 100%;
    padding: 13px 27px 13px 0;
    border-left: 1px solid #eaeaea;
    position:relative;
}

    .c-remodal_gallery-aside .swiper {
        height: 100%;
    }

    .c-remodal_gallery-aside .swiper-slide {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
    }


        .c-remodal_gallery-aside .swiper-slide::before {
          
            content: "";
            position: absolute;
            left: 0;
            height: 100%;
            width: 2px;
        }

        .c-remodal_gallery-aside .swiper-slide img {
            max-width: 100%;
            max-height: 100%;
            opacity: .45;
        }


    .c-remodal_gallery-aside .swiper-slide-thumb-active img {
        opacity: 1;
    }

    .c-remodal_gallery-aside .swiper-slide-thumb-active::before {
        background-color: #00bfd6;
    }

.c-remodal_gallery .remodal-close{
    z-index:10;
}

.c-remodal_gallery-aside .c-swiper_btn-next, .c-remodal_gallery-aside .c-swiper_btn-prev {
    transform:unset;
    top:auto;
    bottom:auto;
    height:69px;
    width:69px;
    border-radius:50%;
    margin-left:-35px;
    left:50%;
    margin-top:0;
    background:rgba(255,255,255,.8);
    box-shadow:0 2px 15px 0 rgba(0,0,0,.2);
}

.c-remodal_gallery-aside .c-swiper_btn-next{
    bottom:-25px;
}
.c-remodal_gallery-aside .c-swiper_btn-next::before {
    transform:rotate(-90deg);
}
.c-remodal_gallery-aside .c-swiper_btn-prev{
    top:-25px;
}

    .c-remodal_gallery-aside .c-swiper_btn-prev::before {
        transform: rotate(90deg);
    }