﻿@font-face {
    font-family: "IRANYekan";
    src: url(../Fonts/iranyekan/IRANYekan.eot?#iefix) format("embedde-opentype"), url(../Fonts/iranyekan/IRANYekan.ttf) format("truetype"), url(../Fonts/iranyekan/IRANYekan.woff) format("woff"), url(../Fonts/iranyekan/IRANYekan.woff2) format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "IRANYekan";
    src: url(../Fonts/iranyekan400/IRANYekan.eot?#iefix) format("embedde-opentype"), url(../Fonts/iranyekan400/IRANYekan.ttf) format("truetype"), url(../Fonts/iranyekan400/IRANYekan.woff) format("woff"), url(../Fonts/iranyekan400/IRANYekan.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "IRANYekan";
    src: url(../Fonts/iranyekan700/IRANYekan.eot?#iefix) format("embedde-opentype"), url(../Fonts/iranyekan700/IRANYekan.ttf) format("truetype"), url(../Fonts/iranyekan700/IRANYekan.woff) format("woff"), url(../Fonts/iranyekan700/IRANYekan.woff2) format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "DigiKala";
    src: url(../Fonts/digikala/digikala.eot?#iefix) format("embedde-opentype"), url(../Fonts/digikala/digikala.ttf) format("truetype"), url(../Fonts/digikala/digikala.woff) format("woff"), url(../Fonts/digikala/digikala.woff2) format("woff2");
}


*, ::before, ::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #4a5f73;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body, html {
    direction: rtl;
}

html {
    min-width: 1009px;
}

body {
    background-color: #f7f7f7;
    position: relative;
    margin: 0;
    font-family: IRANYekan;
    font-size: 14px;
    color: #515151;
}

.c-account_page {
    position: relative;
    min-height: 770px;
}

.c-account_page-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-account_box {
    background-color: #fff;
    width: 389px;
    border: 1px solid #dedede;
    box-shadow: 0 12px 12px 0 rgba(181,181,181,.1);
    margin: 69px 0 10px;
    position: relative;
}

.c-account_logo {
    position: absolute;
    background: url(../../Images/logo.svg) no-repeat 50% 50%;
    height: 49px;
    width: 140px;
    left: 50%;
    bottom: 100%;
    background-size: contain;
    text-indent: -1000em;
    transform: translate(-50%);
    margin-bottom: 18px;
}

.c-account_box-headline {
    padding: 17px 40px;
    font-size: 18px;
    font-weight: 700;
    color: #656565;
    border-bottom: 1px solid #ececec;
    line-height: 1.222;
}

.c-account_box-content {
    padding: 0 30px;
}

.c-form_account {
    margin-top: 9px;
    margin-bottom: 9px;
}

.c-form_account-title {
    font-size: 15px;
    margin-bottom: 11px;
    letter-spacing: -.6px;
    line-height: 1.467;
    color: #656565;
}

.c-form_account-row {
    margin: 0 -10px 9px;
}

.c-form_account-col {
    padding-right: 10px;
    padding-left: 10px;
}

.c-form_account-label {
    position: relative;
    display: inline-block;
    width: 104%;
}

    .c-form_account-label::before {
        font-family: DigiKala;
        position: absolute;
        font-size: 26px;
        right: 17px;
        top: 9px;
        color: #929292;
        line-height: 1;
    }

.c-form_account-label_username::before {
    content: "\e002";
}

.c-form_account-label_password::before {
    content: "\e06d";
    font-size:27px;
}

.c-form_account-input {
    font-family: inherit;
    padding: 11px 52px 11px 15px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    text-align: left;
    line-height: 21px;
    border-color: #00bfd6;

}

    .c-form_account-input::placeholder {
        font-size: 14px;
        text-align: right;
        color: #c6c6c6;
        line-height: 1.571;
        letter-spacing: -.5px;
    }

    .c-form_account-input:focus {
        border-color: #00bfd6 !important;
    }

.c-form_account-title_password {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.c-form_account-link {
    color: #1ca2bd;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    line-height: 2;
}

    .c-form_account-link::after {
        position: absolute;
        content: "";
        border-bottom: 1px dashed #1ca2bd;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: 11px;
    }

.c-form_account-btn {
    padding: 13px 100px 13px 13px;
    width: 104%;
    font-family: inherit;
    background-color: #00bfd6;
    color: #fff;
    border: 1px solid #41a7b4;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    letter-spacing: -.7px;
    line-height: 22px;
    position: relative;
    overflow: hidden;
}

    .c-form_account-btn::before {
        font-family: DigiKala;
        position: absolute;
        line-height: 1;
    }

    .c-form_account-btn::after {
        position: absolute;
        content: "";
        width: 95px;
        height: 95px;
        background-color: rgba(255,255,255,.2);
        right: -15px;
        top: -23px;
        border-radius: 50%;
        transition: all .3s ease-in-out;
    }

    .c-form_account-btn:hover::after {
        width: 900px;
        height: 900px;
        right: -450px;
        top: -450px;
    }

.c-form_account-btn_login::before {
    font-family: DigiKala;
    position: absolute;
    content: "\e059";
    font-size: 28px;
    right: 23px;
    top: 10px;
    line-height: 1;
}

.c-form_account-remember {
    position: relative;
    padding-right: 30px;
    margin: -3px 0 7px;
    font-size: 12px;
    color: #5c5c5c;
    line-height: 2.5;
}

.c-form_account-label_remember {
    width: 22px;
    height: 21px;
    position: absolute;
    right: 0px;
    top: 8px;
}

    .c-form_account-label_remember input[type="checkbox"] {
        visibility: hidden;
    }

.c-checkbox_check {
    border: 1px solid #d8d8d8;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    cursor: pointer;
}

    .c-checkbox_check::before {
        font-family: DigiKala;
        content: "\e021";
        position: absolute;
        top: 3px;
        line-height: 1;
        color: #fff;
        left: 3px;
        font-size: 12px;
    }

.c-form_account-label_remember input[type="checkbox"]:checked + .c-checkbox_check {
    background-color: #00bfd6;
    border-color: #1fa4b3;
}

.c-account_box-footer {
    background-color: rgba(0,190,214,.04);
    border-top: 1px solid rgba(0,190,214,.13);
    padding: 23px 40px;
    text-align: center;
    font-size: 15px;
}

    .c-account_box-footer a {
        font-size: 15px;
    }

    .c-account_box-footer.is-highlighted {
        background-color: rgba(93,214,0,.06);
        border-top: 1px solid #d7e6bb;
    }

.c-account_page-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.container {
    min-width: 1009px;
    max-width: 1676px;
    padding: 20px 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border-top: 1px solid #e7e7e7;
    text-align: center;
}
.c-account_page-footer_links{
    margin-bottom:28px;
}

.c-account_page-footer_links li{
    display:inline-block;
    margin: 0 17px;
}

    .c-account_page-footer_links li a{
        color:#7f7f7f;
        letter-spacing:-.5px;
        font-size:13px;
        line-height:1.692;
    }

.c-account_page-footer_text{
    font-size:12px;
    line-height:21px;
    color:#b0b0b0;
    margin:15px 0 0;
}

.c-account_page-footer_copyright{
    font-size:13px;
    line-height:44px;
    color:#b0b0b0;
    letter-spacing:-.5px;
    margin:15px 0 0;
}

.c-form_account-message{
    background-color:#fffde4;
    line-height:22px;
    border:1px solid #f6e8a1;
    padding: 7px 20px;
    border-radius:5px;
    margin-bottom:10px;
    color:#a37731;
}

.c-form_account-btn_register{
    letter-spacing:-.6px;
}

.c-form_account-btn_register::before{
    content:"\e0ad";
    font-size:30px;
    right:20px;
    top:8px;
}

.c-form_account-btn_forget{
    letter-spacing:-.6px;
    margin-bottom:10px;
}

.c-form_account-btn_forget::before{
    content:"\e06a";
    right:24px;
    font-size:30px;
    top:8px;
}